/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------main style----------------*/
.wrap.background{
	background:url(../img/d004-bg.png) no-repeat center;
	background-size:cover;
	display:flex;
	align-items:center;
	justify-content:center;
	width: 100%;
	height: 100vh;
	font-weight:bold;
}
.bg-text
{
	opacity:0.1;
	z-index:0;
	position:absolute;
	width: 100%;	
}
.bg-text img{
	width: 100%;
}
.width850{
	max-width: 850px;

}
.header{
	background-color:#018ffd;
	width: 850px;
	height: 170px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:0 40px;
	border-radius:20px 20px 0 0 ;
}
.header h2{
	color:#fff;
	font-size:30px;
	font-weight:bolder;
}
.header h2 span{
	display:block;
}

/*-------------content-------------*/

.content{
	width:850px;
	height: 360px;
	background:#fff;
	border-radius:0 0 20px 20px;
	padding:40px 50px 0 50px;
}

.info-label label{
	font-size:14px;
	display:block;
	justify-content:space-between;
	color:#999999;
	margin-bottom: 15px;
}
.info-label input{
	border:2px solid #ccc;
	border-radius:5px;
	height:60px;
	width: 100%;
	padding-left: 15px;
}
.info-label input:hover{
	border:2px solid #81c8ff;
	border-radius:5px;
}
.card-exp,.cvv{
	margin-top:40px;
}
.cvv{
	padding-left:0;
}
.card-info select{
	display:inline-block;
	border:2px solid #ccc;
	border-radius:5px;
	height:60px;
	width: 230px;
	font-weight:bold;
	font-family:sans-serif;
	padding-left:15px;
}
.card-info option{
	font-weight:bold;
	font-family:sans-serif;
}
.card-info select:active{
	border:2px solid #81c8ff;
	border-radius:5px;
}
.card-info select:first-of-type{
	margin-right:38px;
}
/*---------order-----------------*/
.sub-btn{
	position:absolute;
	left:1500px;
	margin-top:20px;
	border:1px solid rgba(19, 107, 185, 0.4);
	height: 50px;
	display:flex;
	align-items:center;
	border-radius:25px;
	padding-left:20px;
	width:100%;
}
.sub-btn:hover{
	background:#1688eb;
}
.sub-btn i{
	margin-left:10px;
	color:#b59344;
}
.sub-btn input{
	background:none;
	border:none;
	color:#fff;
}